<link rel="stylesheet" href="styles/main.css">
<form class="form-signin">
  <h1 class="form-signin-heading text-muted">Sign In</h1>
  <input type="text" class="form-control" placeholder="Email address" required="" autofocus="">
  <input type="password" class="form-control" placeholder="Password" required="true">
  <input type="password" class="form-control" placeholder="Confirm Password" required="true">
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    Sign In
  </button>
</form>
